# AWS Authentication (If not using ~/.aws/credentials profile)
AWS_BEARER_TOKEN_BEDROCK=


# Model Selection
LLM_MODEL_ID=anthropic.claude-sonnet-4-6-20250514


# Agent Controls (Optional overrrides)
MAX_AGENT_CALLS=5
MAX_HISTORY_MESSAGES=20